@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'BOWLER';
    src: url('../../public/fonts/BOWLER.woff2');
    font-weight: normal;
    font-style: normal;
}

@layer base {
    body {
        @apply bg-light-background dark:bg-dark-background
        text-light-text dark:text-dark-text px-[27px] py-[24px];
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-normal;
        @apply text-light-text dark:text-dark-text;
    }

    h1 {
        @apply text-[64px];
        font-family: 'BOWLER', serif;
    }

    h2 {
        @apply text-[36px];
        font-family: 'BOWLER', serif;
    }

    h3 {
        @apply text-[32px];
    }

    h4 {
        @apply text-[24px];
    }
}